:host {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: var(--login-width);
  margin: auto;
  padding: 2em 0;
}


mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

img {
  position: relative !important;
  width: 60%;
  margin: auto;
  height: auto;
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;

  .origin {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5em;
  }

  .journey {
    display: inline-flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    .journey-line {
      height: 2px;
      width: 100%;
      background: lightgray;
    }
  }

  .destination {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5em;
  }

  .date {
    font-size: 1.5em;
    font-weight: 400;
  }

  .hour {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1em;
  }

  .city {
    font-size: 1.2em;
  }

  button {
    margin-right: 1em;
  }

  .price {
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
  }
}

@media only screen and (max-width: 600px) {

  :host {
    font-size: 0.7rem;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .data {
    gap: unset;
    justify-content: space-between;
    width: 100%;
  }

  .purchase {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
      align-self: flex-end;
      margin: 0;
    }
  }

  #buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

}
