<mat-card>
  <mat-card-content *ngIf="ticket" class="ticket-body">
    <img ngSrc="../../../assets/qrcode.svg" height="132" width="132" alt="barcode" priority>

    <mat-divider/>

    <div class="data">
      <div class="origin">
        <div class="date">{{ ticket.departTime.toMillis() | date:'YYYY.MM.dd.' }}</div>
        <div class="hour">{{ ticket.departTime.toMillis() | date:'HH:mm' }}</div>
        <div class="city">{{ ticket.originCity }}</div>
      </div>
      <div class="journey">
        <div>{{ ticket.distance }} km</div>
        <div class="journey-line"></div>
        <div>{{ ticket.travelTime }} perc</div>
      </div>
      <div class="destination">
        <div class="date">{{ ticket.arriveTime.toMillis() | date:'YYYY.MM.dd.' }}</div>
        <div class="hour">{{ ticket.arriveTime.toMillis() | date:'HH:mm' }}</div>
        <div class="city">{{ ticket.destCity }}</div>
      </div>
    </div>

    <mat-divider/>

    <div class="data">
      <div id="buttons">
        <button mat-raised-button color="warn" (click)="delete()">TÖRLÉS</button>
        <button mat-raised-button color="primary" (click)="modify()">MÓDOSÍTÁS</button>
      </div>
      <div>{{ ticket.discount | discount }}</div>
      <div class="price">{{ ticket.price }} Ft</div>
    </div>

  </mat-card-content>

  <mat-card-content style="text-align: center" *ngIf="!ticket">
    Betöltés...
  </mat-card-content>

  <mat-card-footer>
    <mat-progress-bar *ngIf="!ticket" mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<ng-template #modifyDialog>
  <h2 matDialogTitle>Módosítás</h2>
  <mat-dialog-content>
    Csak az időponton módosíthat, az utazás napján nem.
    <form style="margin-top: 1em" [formGroup]="modifyForm">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Válasszon időpontot!</mat-label>
        <mat-select formControlName="time">
          @for (journey of modifyList; track journey) {
            <mat-option [value]="journey">{{ journey.departTime | date:'YYYY.MM.dd. HH:mm' }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Mégsem</button>
    <button mat-button matDialogClose color="primary" [disabled]="!modifyForm.valid">OK</button>
  </mat-dialog-actions>
</ng-template>
