mat-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: center;
  border-left: 11px solid transparent;
  transition: border-left 0.25s;

  mat-card-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 1.5em;
  }
}

mat-card:hover {
  border-left: 11px solid var(--primary);
}

.data {
  display: flex;
  width: 80%;
  flex-direction: row;
  gap: 2em;

  .origin {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5em;
  }

  .journey {
    display: inline-flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    .journey-line {
      height: 2px;
      width: 100%;
      background: lightgray;
    }
  }

  .destination {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5em;
  }

  .date {
    font-size: 1.5em;
    font-weight: 400;
  }

  .hour {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1em;
  }

  .city {
    font-size: 1.2em;
  }
}

.purchase {
  display: inline-flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;

  .price {
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
  }
  .discount {
    font-size: 0.8em;
    color: gray;
  }

  button {
    margin-top: 1em;
  }

}
