:host {
  display: flex;
  width: var(--login-width);
  justify-content: center;
  align-items: center;
  margin: auto;
}

mat-card {
  display: block;
  width: 100%;
  margin-top: 5em;
  padding: 1em;
  text-align: center;

  h3 {
    margin: 1em 0 2em;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0.25px;
    text-transform: uppercase;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;

    #buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

  }
}




