.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 70%;
}

#content {
  background-size: cover;
  background-repeat: no-repeat;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  h1 {
    margin-right: 30px;
    font-size: x-large;
    cursor: pointer;
  }

  img {
    position: relative !important;
    width: 48px;
    height: 48px;
    margin-right: 15px;
  }

  #navigation{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    & a:last-of-type {
      margin-left: 5em;
    }
  }
}
