<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false">

    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Kezdőlap</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/profile">Profil</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/tickets">Jegyeim</a>
      <a *ngIf="!isLoggedIn" mat-list-item routerLink="/login">Bejelentkezés</a>
      <a *ngIf="isLoggedIn" mat-list-item (click)="logout()">Kijelentkezés</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>

      <button
        *ngIf="isHandset$ | async"
        mat-icon-button
        type="button"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <div *ngIf="!(isHandset$ | async)">
        <img ngSrc="../../../../assets/bus_logo.png" alt="logo" height="256" width="256">
        <h1 routerLink="/">BusTicketApp</h1>
        <a mat-button routerLink="/">Kezdőlap</a>
        <a *ngIf="isLoggedIn" mat-button routerLink="/profile">Profil</a>
        <a *ngIf="isLoggedIn" mat-button routerLink="/tickets">Jegyeim</a>
        <a *ngIf="!isLoggedIn" mat-button routerLink="/login">Bejelentkezés</a>
        <a *ngIf="isLoggedIn" mat-button (click)="logout()">Kijelentkezés</a>
      </div>

    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
