<h1>Felhasználói profil</h1>

<mat-card>

  <mat-card-header>
    <mat-card-title>Személyes adatok</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form *ngIf="userDataForm" [formGroup]="userDataForm" (ngSubmit)="userDataSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Vezetéknév</mat-label>
        <input
          matInput
          formControlName="lastName"
          type="text"
          placeholder="Vezetéknév"
          autocomplete="off"
        />
        <mat-error *ngIf="lastNameControl.invalid && lastNameControl.touched">
          Kérjük, adja meg a vezetéknevét.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Keresztnév</mat-label>
        <input
          matInput
          formControlName="firstName"
          type="text"
          placeholder="Keresztnév"
          autocomplete="off"
        />
        <mat-error *ngIf="firstNameControl.invalid && firstNameControl.touched">
          Kérjük, adja meg a keresztnevét.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Email"
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
      >
        Módosítás
      </button>

    </form>
  </mat-card-content>
</mat-card>


